*.log
*.txt
hosts
*.log*
*.btr

data/fasta/**/sequences
data/fasta/**/*.tmp
data/fasta/**/master.json
data/fasta/**/*.fas
data/fasta/**/*.cache
data/fasta/**/*.raxml*
data/fasta/**/*.msa
data/fasta/**/*.tn93
data/fasta/**/*.tn93.json
data/fasta/**/*.prot
data/fasta/**/*.duplicates.json
data/fasta/**/*.FUBAR.json
data/fasta/**/*.FEL.json
data/fasta/**/*.MEME.json
data/fasta/**/*.PRIME.json
data/fasta/**/*.SLAC.json
data/fasta/**/*.prot
data/fasta/**/sequences.ORF1a.SLAC.json
.nfs*
h1
h2
hyperfine*
core*
sed*
*.err
logs
