env/
data/fasta
*.log
hosts
*.log*
*.btr
.nfs*
h1
h2
hyperfine*
core*
sed*
*.err
logs

.Rhistory
._.DS_Store
*DS_Store*
*~
*.swp
data/ctl/forApp.Rda
sergei/
data/v1
data/beta*
data/single_mut_effects.csv
output.csv
premsa_submit_jobs.sh
scratch
sergei-RdRp/
reports/
node_modules

data/imported
data/to-import

python/obfuscate-master.py
data/db/
*.csv
js/get_metadata.js
js/get_seqs.js
__pycache__
data
reference_genes/prealigned/
special/
