*.log
*.txt
hosts
*.log*
*.btr
data/fasta/**/sequences
data/fasta/**/*.tmp
data/fasta/**/master.json
data/fasta/**/*.fas
data/fasta/**/*.cache
data/fasta/**/*.raxml*
data/fasta/**/*.msa
data/fasta/**/*.tn93
data/fasta/**/*.prot
data/fasta/**/sequences.ORF1a.SLAC.json
